# More GitHub Actions for Azure: https://github.com/Azure/actions

name: App deployment

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:

  without-actions-template:
    runs-on: ubuntu-latest
    steps:

    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_SP }}

    - name: Azure CLI script
      uses: azure/CLI@v1
      with:
        azcliversion: 2.30.0
        inlineScript: |
          az group list

  dev:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: "Azure setup"
      uses: ./.github/actions/azure-setup
      with: 
        AZURE_SP: ${{ secrets.AZURE_SP }}
        RESOURCE_GROUP_NAME: ${{ github.job }}
        RESOURCE_GROUP_LOCATION: "centralus"
        TAGS: '"UseCase=Terraform" "Stage=${{ github.job }}"'
        STORAGE_ACCOUNT_NAME: stac${{ github.job }}

