# More GitHub Actions for Azure: https://github.com/Azure/actions

name: App deployment

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:

  # without-actions-template:
  #   runs-on: ubuntu-latest
  #   steps:

  #   - name: Azure Login
  #     uses: azure/login@v1
  #     with:
  #       creds: ${{ secrets.AZURE_SP }}

  #   - name: Azure CLI script
  #     uses: azure/CLI@v1
  #     with:
  #       azcliversion: 2.30.0
  #       inlineScript: |
  #         az group list

  dev:
    runs-on: ubuntu-latest

    env:
      ARM_CLIENT_ID: ${{ secrets.TF_ARM_CLIENT_ID}}
      ARM_CLIENT_SECRET: ${{ secrets.TF_ARM_CLIENT_SECRET}}
      ARM_SUBSCRIPTION_ID: ${{ secrets.TF_ARM_SUBSCRIPTION_ID}}
      ARM_TENANT_ID: ${{ secrets.TF_ARM_TENANT_ID}}

    steps:
    - uses: jungwinter/split@v2
      id: split
      with:
        msg: ${{ github.repository }}
        separator: "/"

    - uses: actions/checkout@v3

    # - name: "Azure setup"
    #   uses: ./.github/actions/azure-setup
    #   with: 
    #     AZURE_SP: ${{ secrets.AZURE_SP }}
    #     RESOURCE_GROUP_NAME: tfstates-${{ steps.split.outputs._1 }}-${{ github.job }}
    #     RESOURCE_GROUP_LOCATION: "centralus"
    #     TAGS: '"UseCase=Terraform" "Stage=${{ github.job }}" "Deployed=GitHub Actions" Repository=${{ steps.split.outputs._1 }} "RunNumber=${{ github.run_number }}"'
    #     STORAGE_ACCOUNT_NAME: stac${{ github.job }}

    # - name: "Terraform plan"
    #   uses: ./.github/actions/terraform-plan
    #   with:
    #     WORKING_DIR: ${{ github.workspace }}/terraform/terraform-main
    #     AZURE_SP: ${{ secrets.AZURE_SP }}
    #     RESOURCE_GROUP_NAME: tfstates-${{ steps.split.outputs._1 }}-${{ github.job }}
    #     STORAGE_ACCOUNT_NAME: stac${{ github.job }}
    #     CONTAINER_NAME: "states"
    #     STATE_FILE: "terraform.tfstate"

    # - name: "Terraform apply"
    #   uses: ./.github/actions/terraform-apply
    #   with:
    #     WORKING_DIR: ${{ github.workspace }}/terraform/terraform-main
    #     AZURE_SP: ${{ secrets.AZURE_SP }}
    #     RESOURCE_GROUP_NAME: tfstates-${{ steps.split.outputs._1 }}-${{ github.job }}
    #     STORAGE_ACCOUNT_NAME: stac${{ github.job }}
    #     CONTAINER_NAME: "states"
    #     STATE_FILE: "terraform.tfstate"

    - name: "Get ACR details"
      id: acr-details
      run: |
        get_acr_name=$(jq -r .acr_username.value ${{ github.workspace }}/terraform/terraform-main/output.json)
        echo $get_acr_name
        echo '::set-output name=ACR_USERNAME::$get_acr_name'
      continue-on-error: false
      shell: bash

    - name: Get color
      run: echo "ACR NAME -> ${{ steps.acr-details.outputs.ACR_USERNAME }}"
        

